[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
torch = {version = "==2.2+cpu", index = "pytorch"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
